@use '../../assets/scss/mixin' as *;

.summary {
  --gutter-y: 1rem;
  margin-block: 1.5rem;
  padding-block: var(--gutter-y);
  padding-inline: var(--gutter-y);
  background-color: var(--magnolia);
  border-radius: 4px;
  font-size: clamp(0.8125rem, 1.4vw, 1.125rem);

  &__personalInfo {
    padding-inline: var(--gutter-y);
    background-color: var(--alabaster);
    padding-block: 0.5rem;
    margin-block-end: 0.75rem;
    h3 {
      text-transform: uppercase;
    }
    p {
      color: var(--cool_gray);
    }
  }
  &__addOns {
    padding-block-start: var(--gutter-y);
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    border-top: 2px solid var(--light_gray);
  }
  &__addOn {
    display: flex;
    justify-content: space-between;
    color: var(--cool_gray);
    &__price {
      font-weight: var(--fw-500);
      color: var(--marine);
    }
  }
  &__total {
    padding-inline: 1rem;
    color: var(--cool_gray);
    font-size: clamp(0.8125rem, 1.4vw, 1.125rem);
    display: flex;
    flex-direction: column;
    gap: rem(6px);
    > p {
      display: flex;
      justify-content: space-between;
    }
    &__price {
      font-weight: var(--fw-bold);
      strong {
        color: var(--purplish);
      }
    }
  }
}
.game__plan {
  padding-block-end: var(--gutter-y);
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__name {
    a {
      color: var(--cool_gray);
      @include hover {
        color: var(--purplish);
      }
    }
  }
}
