@use '../../assets/scss/_mixin.scss' as *;

.form {
  &__container {
    --background: var(--white);

    min-height: 100dvh;
    max-width: 61.25rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 20vw 15vw minmax(0, 1fr);

    @include mq-min(small) {
      padding: 1rem;
      min-height: min(98dvh, 37.5rem);
      background-color: var(--background);
      grid-template-columns: rem(274px) minmax(0, 1fr);
      grid-template-rows: minmax(0, 1fr);
      grid-template-areas: 'a b';
      border-radius: 1rem;
      box-shadow: 0 0 10px 0px rgba(0 0 0 /0.2);
    }
  }

  &__nav {
    width: 100vw;
    grid-column: 1;
    grid-row: 1/3;
    position: relative;
    background-image: url(../../assets/images/bg-sidebar-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    @include mq-min(small) {
      width: 100%;
      background-image: url('../../assets/images/bg-sidebar-desktop.svg');
      grid-area: a;
      border-radius: 1rem;
    }
  }
  &__body {
    margin-inline: auto;
    grid-column: 1;
    grid-row: 2/4;
    z-index: 9;

    @include mq-min(small) {
      width: 32rem;
      grid-area: b;
      box-shadow: unset;
    }
  }
}

.nav {
  &__container {
    width: 100%;
    position: absolute;
    top: 10vw;
    left: 0;
    @include mq-min(small) {
      top: 2rem;
    }
  }
}
