@use '../../assets/scss/mixin' as *;

.nav {
  &__items {
    list-style: none;
    padding: 0;
    width: 80%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    gap: 2rem;
    @include mq-min(small) {
      flex-direction: column;
    }
  }
  &__item {
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;

    &[data-active='true'] {
      .steps__index {
        background-color: var(--light_blue);
        color: var(--marine);
      }
    }
  }
}

.steps {
  &__index {
    width: 36px;
    height: 36px;
    background-color: transparent;
    border-radius: 50vw;
    border: 1px solid white;

    position: relative;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: var(--fw-700);
    }
  }
  &__details {
    display: none;
    @include mq-min(small) {
      display: flex;
      flex-direction: column;
      span,
      p {
        text-transform: uppercase;
      }
      span {
        color: var(--light_gray);
      }
      p {
        font-weight: var(--fw-700);
        letter-spacing: 2px;
      }
    }
  }
}
