.container {
  padding-block: min(12vh, 6.25rem);
  gap: 2.5rem;
}

.thankYou {
  &__icon {
    width: clamp(3.5rem, 5.56vw, 5rem);
    height: clamp(3.5rem, 5.56vw, 5rem);
    margin-inline: auto;
  }
  &__message {
    text-align: center;
    h2 {
      font-size: var(--fs-700);
    }
    p {
      color: var(--cool_gray);
    }
  }
}
