.container {
  padding-block-start: 8vw;
  gap: 2.5rem;
}

.thankYou {
  &__icon {
    margin-inline: auto;
  }
  &__message {
    text-align: center;
    h2 {
      font-size: var(--fs-700);
    }
    p {
      color: var(--cool_gray);
    }
  }
}
