@use './assets/scss/mixin' as *;

#root {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}

.form__body__container {
  padding-block-start: 2.5rem;
  width: 80%;
  height: 100%;
  margin-inline: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    font-size: var(--fs-700);
    & + p {
      color: var(--cool_gray);
    }
  }
}

.button__container {
  padding-block: 1rem;
  background-color: var(--white);
  display: flex;

  button:last-child {
    margin-inline-start: auto;
  }
}
