@use './assets/scss/mixin' as *;

#root {
  min-height: 100dvh;
  @include mq-min(small) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.form-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__body__container {
  padding-block-start: clamp(1.5rem, 2.78vw, 2.5rem);
  padding-block-end: 1.5rem;
  padding-inline: 1.5rem;
  width: 90%;
  margin-inline: auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 0 0 10px 0 rgba(0 0 0 /0.2);

  h2 {
    font-size: var(--fs-700);
    & + p {
      color: var(--cool_gray);
    }
  }
  @include mq-min(small) {
    box-shadow: unset;
    width: 100%;
  }
}

.button__container {
  padding-inline: 1rem;
  padding-block: 1rem;
  background-color: var(--white);
  display: flex;

  button:last-child {
    margin-inline-start: auto;
  }
}

.discount {
  position: absolute;
  background-color: var(--purplish);
  color: var(--white);
  font-size: 80%;
  font-weight: var(--fw-500);
  padding-inline: 0.75rem;
  border-radius: 0.125rem;
  top: 0;
  right: 0;
}
